@charset "UTF-8";

body{
    background-image: linear-gradient(to left, #2630D0, #080808);
}
main{
    background-color: white;
    border-radius: 5px;
    width: 800px;
    padding: 10px;
    margin: auto;

}
h1{
    color: #2630D0;
    text-align: center;
    text-align: justify;
    text-shadow: 1px, 1px, 10px, #000000;

}
p{
    text-align: justify;
}

